In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
%load_ext sql

In [4]:
%%sql sqlite:///global_crop_yields

In [5]:
%%sql
CREATE TABLE arable_land(
country VARCHAR(10),
code VARCHAR(10),
year INTEGERS(4) PRIMARY KEY,
arable_land_needed DECIMAL(7,5)
);

 * sqlite:///global_crop_yields
Done.

[]

In [9]:
%%sql
INSERT INTO arable_land
(country,code,year,arable_land_needed)
VALUES
('Kenya',	'KEN'	,2010	,0.298362976),
('Kenya',	'KEN'	,2011	,0.346233858),
('Kenya',	'KEN'	,2012	,0.315946765),
('Kenya',	'KEN'	,2013	,0.295288093),
('Kenya',	'KEN'	,2014	,0.290538033)
;

 * sqlite:///global_crop_yields
5 rows affected.

[]

In [12]:
%%sql
CREATE TABLE cereal_crop_yield_vs_fertilizer_application(
country VARCHAR(10),
code VARCHAR(5),
year VARCHAR(4) PRIMARY KEY,
cereal_yield DECIMAL(7,5),
Nitrogen_fertilizer_use DECIMAL(7,5)
);

 * sqlite:///global_crop_yields
Done.

[]

In [13]:
%%sql
INSERT INTO cereal_crop_yield_vs_fertilizer_application
(country,code,year,cereal_yield,Nitrogen_fertilizer_use)
VALUES
('Kenya',	'KEN',	2010,	1.7101000000000002,	11.76),
('Kenya',	'KEN',	2011,	1.5146000000000002,	17.69),
('Kenya', 'KEN',	2012,	1.7448000000000001,	14.24),
('Kenya',	'KEN',	2013,	1.6615,	20.36 ),
('Kenya',	'KEN',	2014,	1.5834000000000001,	36.00)
;

 * sqlite:///global_crop_yields
5 rows affected.

[]

In [15]:
%%sql
CREATE TABLE cereal_crop_yield_vs_tractor_input(
country VARCHAR(10),
code VARCHAR(5),
year VARCHAR(4) PRIMARY KEY,
tractors INTEGERS(50) DEFAULT NULL,
cereal_yield DECIMAL(5,1) DEFAULT NULL,
total_population INTEGERS(15) DEFAULT NULL
);

 * sqlite:///global_crop_yields
Done.

[]

In [17]:
%%sql
INSERT INTO cereal_crop_yield_vs_tractor_input
(country,code,year,tractors,cereal_yield,total_population)
VALUES
('Kenya','KEN',2010,'',1710.1,42031000 ),
('Kenya','KEN',2011,'',1514.6,43178000 ),
('Kenya','KEN',2012,'',1744.8,44343000 ),
('Kenya','KEN',2013,'',1661.5,45520000 ),
('Kenya','KEN',2014,'',1583.4,46700000 )
;

 * sqlite:///global_crop_yields
5 rows affected.

[]

In [18]:
%%sql
CREATE TABLE key_crop_yields(
country VARCHAR(10),
code VARCHAR(10),
year VARCHAR(4) PRIMARY KEY,
wheat DECIMAL(7,5) DEFAULT NULL,
rice DECIMAL(7,5) DEFAULT NULL,
maize DECIMAL(7,5) DEFAULT NULL,
soybean DECIMAL(7,5) DEFAULT NULL,
potatoes DECIMAL(7,5) DEFAULT NULL,
beans DECIMAL(7,5) DEFAULT NULL,
peas DECIMAL(7,5) DEFAULT NULL,
cassava DECIMAL(7,5) DEFAULT NULL,
barley DECIMAL(7,5) DEFAULT NULL,
cocoa_beans DECIMAL(7,5) DEFAULT NULL,
bananas DECIMAL(7,5) DEFAULT NULL
);

 * sqlite:///global_crop_yields
Done.

[]

In [ ]:
%%sql
SELECT *
FROM key_crop_yields

In [19]:
%%sql
INSERT INTO key_crop_yields
(country,code,year,wheat,rice,maize,soybean,potatoes,beans,peas,cassava,barley,cocoa_beans,bananas)
VALUES
('Kenya','KEN',2010,3.1991,4.2384,1.7251,0.9500000000000001,22.4279,0.5666,'',5.2521,2.5562,'',18.968400000000003 ),
('Kenya','KEN',2011,2.0415,3.9676,1.584,1.2578,19.169,0.5572,'',11.2309,3.4641,'',24.287300000000002 ),
('Kenya','KEN',2012,2.972,4.6643,1.7366000000000001,1.4997,20.338900000000002,0.5897,'',12.727300000000001,4.3949,'',20.823800000000002 ),
('Kenya','KEN',2013,2.7602,3.9955000000000003,1.6922000000000001,1.2219,14.426200000000001,0.6594,'',14.247,3.3481,'',22.8503 ),
('Kenya','KEN',2014,1.5549000000000002,3.9543000000000004,1.6602000000000001,1.0678,14.0655,0.5853,'',13.471300000000001,3.0374000000000003,'',27.7056 )
;

 * sqlite:///global_crop_yields
5 rows affected.

[]

In [22]:
%%sql
CREATE TABLE land_use_vs_yield_change_in_cereal_productions(
country VARCHAR(10),
code VARCHAR(10),
year VARCHAR(4) PRIMARY KEY,
cereal_yield_index INTEGERS(4) DEFAULT NULL,
production_since_1961 INTEGERS(4) DEFAULT NULL,
total_population INTEGERS(20) DEFAULT NULL
);

 * sqlite:///global_crop_yields
Done.

[]

In [24]:
%%sql
INSERT INTO land_use_vs_yield_change_in_cereal_productions
(country,code,year,cereal_yield_index,production_since_1961,total_population)
VALUES
('Kenya','KEN',2010,137,230,42031000 ),
('Kenya','KEN',2011,122,242,43178000 ),
('Kenya','KEN',2012,140,244,44343000 ),
('Kenya','KEN',2013,133,247,45520000 ),
('Kenya','KEN',2014,131,241,46700000 )
;

 * sqlite:///global_crop_yields
5 rows affected.

[]